{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header with logo -->
<div class="header-bar">
    <img src="{% static 'gestion_deportiva/images/logo.png' %}" alt="Logo" class="logo">
</div>

<!-- Main container for the content -->
<div class="main-container">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg rounded">
                    <div class="card-body">
                        {% if request.identity_context_data.authenticated %}
                            <h1 class="display-4 text-primary">¡Bienvenido, {{ request.identity_context_data.username }}!</h1>
                            <p class="lead">Ya has iniciado sesión. Disfruta de la aplicación.</p>
                            <a href="{% url 'sign_out' %}" class="btn btn-danger btn-lg mt-3">Cerrar sesión</a>
                        {% else %}
                            <h1 class="display-4 text-danger">¡Bienvenido!</h1>
                            <p class="lead">Por favor, inicia sesión para continuar.</p>
                            <a href="{% url 'sign_in' %}" class="btn btn-custom btn-lg mt-3">Iniciar sesión con ID-UAM</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
