{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Horarios de Instalaciones</h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'download_facilities_schedule' %}" class="btn btn-success">Descargar PDF</a>
    </div>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Instalación</th>
                <th>Día</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>
            {% for facility in facilities %}
                {% with facility.schedules.all|length as rowspan %}
                    {% for schedule in facility.schedules.all %}
                        <tr>
                            {% if forloop.first %}
                                <td rowspan="{{ rowspan }}">{{ facility.name }}</td>
                            {% endif %}
                            <td>{{ schedule.get_day_of_week_display }}</td>
                            <td>{{ schedule.hour_begin|time:"H:i" }} - {{ schedule.hour_end|time:"H:i" }}</td>
                        </tr>
                    {% endfor %}
                {% endwith %}
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay actividades disponibles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
