{% extends 'gestion_deportiva/base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center mt-5">
        <div class="card shadow-lg p-4 contacto">
            <div class="card-body">


                <h1 class="text-center">Contacto</h1>

                {% if "valido" in request.GET%}
                    <div class="alert alert-success">Información enviada correctamente. ¡Gracias!</div>
                {% elif "invalido" in request.GET %}
                    <div class="alert alert-danger">Error en el envío. Prueba de nuevo.</div>
                {% else %}

                <form class="container" action="" method="POST">
                    {% csrf_token %}
                
                    <div class="mb-3">
                        <label for="{{ contactForm.asunto.id_for_label }}" class="form-label text-start d-block">
                            {{ contactForm.asunto.label }}
                        </label>
                        {{ contactForm.asunto }}
                    </div>
                
                    <div class="mb-3">
                        <label for="{{ contactForm.nombre.id_for_label }}" class="form-label text-start d-block">
                            {{ contactForm.nombre.label }}
                        </label>
                        {{ contactForm.nombre }}
                    </div>
                
                    <div class="mb-3">
                        <label for="{{ contactForm.email.id_for_label }}" class="form-label text-start d-block">
                            {{ contactForm.email.label }}
                        </label>
                        {{ contactForm.email }}
                    </div>
                
                    <div class="mb-3">
                        <label for="{{ contactForm.contenido.id_for_label }}" class="form-label text-start d-block">
                            {{ contactForm.contenido.label }}
                        </label>
                        {{ contactForm.contenido }}
                    </div>
                
                    <!-- Contenedor para centrar el botón -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-5">Enviar</button>
                    </div>
                    
                </form>
                

                {% endif %}

            </div>
        </div>
    </div>


{% endblock %}


<style>
    .contacto {
        max-width: 800px;
        background-color: white;
        border-radius: 25px;
    }

    .contacto h1 {
        color: #67a084;
    }

    .contacto h2 {
        margin-top: 20px;
        color: #67a084;
        font-size: 1.3em;
    }
    
    .contacto p {
        text-align: justify;
    }

</style>