{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card p-4">
        <!-- Título de la actividad -->
        <h2 class="fw-bold">{{ activity.name }}</h2>

        <!-- Horario y ubicación -->
        <p class="fw-bold"> 
            {% for schedule in activity.schedules.all %}
                {{ schedule.get_day_of_week_display }}: {{ schedule.hour_begin|time:"H:i" }} - {{ schedule.hour_end|time:"H:i" }}<br>
            {% endfor %}
        </p>
        <p><strong>{{ activity.location }}</strong></p>
        <p><strong>Tipo:</strong> {{ activity.get_activity_type_display }}</p>

        <!-- Descripción -->
        <p>{{ activity.description }}</p>

        {% if has_bono %}
        <!-- Mostrar tabla de sesiones si tiene bono -->
        <h3 class="mt-4">Sesiones disponibles</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Día</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Horario</th>
                    <th class="text-center">Plazas disponibles</th>
                    <th class="text-center">Reservar</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td class="text-center">{{ session.schedule.get_day_of_week_display }}</td>
                    <td class="text-center">{{ session.date|date:"d/m/Y" }}</td>
                    <td class="text-center">{{ session.schedule.hour_begin|time:"H:i" }} - {{ session.schedule.hour_end|time:"H:i" }}</td>
                    <td class="text-center">{{ session.free_places }}</td>
                    <td class="text-center">
                        {% if session.free_places > 0 %}
                        <!-- Botón de reserva -->
                        <form method="POST" action="{% url 'reserve_activity_session' session.id %}" class="d-inline-block" >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" style="min-width: 220px;">Reservar</button>
                        </form>
                        {% else %}
                        <!-- Botón lista de espera -->
                        <form method="POST" action="{% url 'join_waiting_list' session.id %}"  class="d-inline-block">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary" style="min-width: 220px;">Apuntarse a lista de espera</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <!-- Mostrar opción de compra de bono si no tiene bono -->
        <div class="row mt-3">
          <!-- Selector de bonos dinámico -->
          <form method="post" action="{% url 'invoice_activity' activity.id %}">
              {% csrf_token %}
              <div class="row mt-3">
                  <div class="col-md-6">
                      <label for="bonoSelect" class="fw-bold">Seleccione un bono:</label>
                      <select id="bonoSelect" name="bonus_id" class="form-select">
                          {% for bonus in activity.bonuses.all %}
                              <option value="{{ bonus.id }}">{{ bonus.get_bonus_type_display }} - {{ bonus.price }}€</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>

              <!-- Botón de inscripción -->
              <div class="mt-3">
                  <button class="btn btn-success btn-lg">INSCRIBIRSE</button>
                  <p class="mt-2">
                      Al inscribirse y pagar la cuota, podrá reservar semanalmente las sesiones de la actividad. 
                      Es necesario apuntarse a cada sesión individualmente; sin apuntarse previamente, no se podrá asistir.
                  </p>
              </div>
          </form>
        </div>
        {% endif %}

        <!-- Galería de imágenes -->
        <div class="row mt-4">
            {% for photo in activity.photos.all %}
                <div class="col-md-4">
                    <img src="{{ photo.image.url }}" class="img-fluid rounded shadow-sm" alt="Imagen de {{ activity.name }}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
