{% extends 'base.html' %}

{% block title %}Politica de Privacidad{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-lg p-4 politica-privacidad">
        <div class="card-body">
            <h1 class="text-center">Política de Privacidad y Protección de Datos Personales</h1>

            <h2>1. Información General</h2>
            <p>Esta Política de Privacidad regula la recopilación y el tratamiento de datos personales proporcionados por los USUARIOS a través del sitio web "Time2Sport". Este sitio es un proyecto académico desarrollado como parte de un Trabajo de Fin de Grado (TFG) y no está vinculado oficialmente con la Universidad Autónoma de Madrid (UAM). Su objetivo es demostrar las capacidades técnicas y de gestión de actividades deportivas en un entorno universitario simulado. Dado su carácter académico, no se garantiza la disponibilidad continua ni la veracidad de la información gestionada dentro de la plataforma.</p>

            <h2>2. Finalidad del Tratamiento de Datos</h2>
            <p>La recopilación y tratamiento de datos personales en "Time2Sport" tiene como finalidad:</p>

            <ul>
                <li> Gestionar el registro de los USUARIOS en la plataforma.</li>
                <li> Facilitar la reserva en actividades y instalaciones deportivas simuladas.</li>
                <li> Administrar la reserva de instalaciones deportivas dentro del entorno de prueba.</li>
                <li> Permitir la comunicación con los USUARIOS sobre las funcionalidades del sitio.</li>
                <li> Mejorar la experiencia de uso dentro del marco de desarrollo del proyecto.</li>

            </ul>
                
                <p>Los datos recopilados se utilizan exclusivamente con estos fines académicos y en ningún caso serán cedidos a terceros con fines comerciales.</p>

            <h2>3. Consentimiento del Usuario</h2>
            <p>El uso de "Time2Sport" implica el consentimiento del USUARIO para el tratamiento de los datos personales proporcionados mediante su registro y participación en la plataforma.
                Los datos solicitados en los formularios de registro se consideran obligatorios para la funcionalidad de la plataforma. En caso de que el USUARIO proporcione información incorrecta o incompleta, "Time2Sport" no podrá garantizar el acceso a sus servicios.</p>

            <h2>4. Derechos de los Usuarios</h2>
            <p>El USUARIO podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición al tratamiento de sus datos personales enviando una solicitud a la dirección de correo electrónico del desarrollador responsable del proyecto.

                Dado que "Time2Sport" es un proyecto académico sin uso comercial ni institucional, los datos podrán ser eliminados al finalizar el desarrollo del Trabajo de Fin de Grado.
                
                </p>

            <h2>5. Confidencilidad y Seguridad</h2>
            <p>El desarrollador de "Time2Sport" garantiza la confidencialidad de los datos personales facilitados por los USUARIOS y su tratamiento conforme a la legislación vigente en materia de protección de datos. Se han implementado medidas de seguridad adecuadas para evitar el acceso no autorizado a los datos, aunque se recuerda a los USUARIOS que ninguna plataforma en Internet es completamente segura.

                Para cualquier duda o consulta sobre la presente Política de Privacidad, el USUARIO puede ponerse en contacto con el responsable del proyecto a través del correo electrónico habilitado en la página de contacto.</p>
        </div>
    </div>
</div>

<style>
    .politica-privacidad {
        max-width: 800px;
        background-color: white;
        border-radius: 10px;
    }

    .politica-privacidad {
        max-width: 800px;
    }
    

    .politica-privacidad h1 {
        color: #67a084;
    }

    .politica-privacidad h2 {
        margin-top: 20px;
        color: #67a084;
        font-size: 1.3em;
    }
    
    .politica-privacidad p {
        text-align: justify;
    }
</style>
{% endblock %}
