{% extends 'gestion_deportiva/base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Horarios de Actividades</h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'download_activities_schedule' %}" class="btn btn-success">Descargar PDF</a>
    </div>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Actividad</th>
                <th>Día</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
                {% with activity.schedules|length as rowspan %}
                    {% for schedule in activity.schedules %}
                        <tr>
                            {% if forloop.first %}
                                <td rowspan="{{ rowspan }}">{{ activity.name }}</td>
                            {% endif %}
                            <td>{{ schedule.day }}</td>
                            <td>{{ schedule.times|linebreaksbr }}</td>
                        </tr>
                    {% endfor %}
                {% endwith %}
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No hay actividades disponibles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
