<!-- profile.html -->
{% extends 'base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; text-align: center; width: 100%; padding-top: 10vh;">
    <h1 style="margin-bottom: 20px;">Perfil de Usuario</h1>

    <div style="display: flex; flex-direction: column; align-items: center; gap: 20px; width: 100%; max-width: 400px;">
        <img src="{{ user.profile.url }}" alt="Foto de perfil" style="max-width: 150px; border-radius: 50%;">
        
        <div style="display: flex; flex-direction: column; gap: 10px; width: 100%;">

            
            {% if request.user.is_authenticated and request.user.first_name != '' %}
                <input class="form-control" type="text" value="{{ user.first_name }} {{ user.last_name }}" disabled style="width: 100%; text-align: center;">
            {% elif request.user.is_authenticated and request.user.first_name == ''%}
                <input class="form-control" type="text" value="{{ user.username }}" disabled style="width: 100%; text-align: center;">
            {% endif%}
            <input class="form-control" type="email" value="{{ user.email }}" disabled style="width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            
            <input class="form-control" type="user_type" value="{{ user_type }}" disabled style="width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            
        
            <form method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="file" class="form-control" name="profile_image" required>
                    <button class="btn btn-outline-secondary" type="submit">Subir foto</button>
                </div>
            </form>

            <!-- Enlace de verificación UAM -->
            {% if not user.is_uam %}
                <a href="{% url 'uam_verification' %}" class="btn btn-primary" style="margin-top: 20px;">¿Eres de la UAM? Verifícate</a>
            {% endif %}


            

        </div>
    </div>
    
    
</div>
{% endblock %}
