<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure AD Demo</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <style>
        .navbar-custom {
            background-color: #67a084 !important;
            width: 100%;
        }

        .navbar-custom .navbar-nav .nav-link {
            color: white !important;
        }

        html, body {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content-wrapper {
            flex-grow: 1;
            margin-top: 100px;
        }

        .footer {
            margin-top: auto; 
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Navbar & logo -->   
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">

            <!-- Time2Sport Logo --> 
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo Time2Sport" class="img-fluid" style="max-width: 150px;">
            </a>
            
            <!-- Notifications bell --> 
            <a href="{% url 'notifications' %}"  class="position-relative d-inline-block me-3"> 
                <img src="{% static 'images/notifications_logo.png' %}" alt="Notifications" class="img-fluid" style="max-width: 30px;"> 
                
                {% if unread_notifications > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="z-index: 10;">
                        {{ unread_notifications }}
                    </span>
                {%endif%}
            </a>

            <!-- Search bar -->  
            <form class="d-flex" role="search" method="POST" action="{% url 'search_results' %}">
                {% csrf_token %}
                <select class="form-select me-2 custom-select" name="category">
                    <option value="">Todas</option>
                    <optgroup label="Instalación">
                        <option value="interior">Interior</option>
                        <option value="exterior">Exterior</option>
                    </optgroup>
                    <optgroup label="Actividad">
                        <option value="terrestre">Terrestre</option>
                        <option value="acuática">Acuática</option>
                    </optgroup>
                </select>
                <input class="form-control me-2" type="search" name="q" placeholder="Buscar..." aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Go</button>
            </form>

            <!-- Menu Options --> 
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-flex align-items-center">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'images/home_icon.png' %}" alt="Home Icon" class="img-fluid" style="max-width: 35px;">
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">MIS RESERVAS</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'schedules' %}">HORARIOS</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'all_activities' %}">ACTIVIDADES</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'all_facilities' %}">INSTALACIONES</a></li>
                    <li class="nav-item">

                        {% if request.user.is_authenticated and request.user.first_name != '' %}
                            <a class="nav-link text-white" href="{% url 'profile' %} ">{{ user.first_name|upper }}</a>
                        {% elif request.user.first_name == '' %}
                            <a class="nav-link text-white" href="{% url 'profile' %} ">{{ user.username|upper }}</a>
                        {% else %}
                            <a class="nav-link text-white" href="{% url 'profile' %}">USUARIO</a>
                        {% endif %}
                    </li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'account_logout' %}">CERRAR SESIÓN</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Variable content -->
    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="navbar navbar-expand-lg navbar-custom mt-auto">
        <div class="container-fluid">
            <!-- Logo UAM -->
            <img src="{% static 'images/uam.png' %}" alt="Logo UAM" class="img-fluid" style="max-width: 80px;">

            <!-- Footer information -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item ms-5">
                        <a class="nav-link" href="{% url 'contacto' %}">CONTACTO</a>
                    </li>
                    <li class="nav-item ms-5">
                        <a class="nav-link" href="{% url 'aviso_legal' %}">AVISO LEGAL</a>
                    </li>
                    <li class="nav-item ms-5">
                        <a class="nav-link" href="{% url 'politica_privacidad' %}">POLÍTICA DE PRIVACIDAD</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    

</body>
</html>
