{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow rounded-4 p-4">
        <h2 class="text-center mb-4">Factura</h2>

        <!-- Concept -->
        <div class="mb-3 d-flex justify-content-between">
            <strong>Concepto:</strong>
            <span>{{ concept }}</span>
        </div>
        <!-- Date -->
        <div class="mb-3 d-flex justify-content-between">
            <strong>Fecha:</strong>
            <span>{{ date|date:"H:i  d/m/Y" }}</span>
        </div>

        <hr class="my-3">

        <!-- Hour Price -->
        <h5 class="mb-3">Precio</h5>
        <div class="d-flex justify-content-between">
            <span>Precio base </span>
            <span>{{ base_price }} €</span>
        </div>
        <!-- Num hours -->
        <div class="d-flex justify-content-between">
            <span>Nº horas </span>
            <span>{{ num_hours }}</span>
        </div>

        <hr class="my-2" style="all: unset; display: block; width: 100%; height: 1px; border-top: 1px dashed #ccc; margin: 0.5rem 0;">

        <!-- Renting price -->
        <div class="d-flex justify-content-between">
            <span>Precio total alquiler </span>
            <span>{{ renting_price }}€</span>
        </div>
        <!-- Discount -->
        {% if uam_discount > 0 %}
            <div class="d-flex justify-content-between my-2">
                <span>Descuento UAM</span>
                <span>-{{ uam_discount }} €</span>
            </div>
        {% endif%}

        <hr class="my-4">
        
        <!-- Total -->
        <div class="d-flex justify-content-between fw-bold fs-5 my-5">
            <span>Total</span>
            <span>{{ total }} €</span>
        </div>

        <!-- PayPal Button -->
        <div class="paypal-button-wrapper text-center">
            {{ paypal.render }}
        </div>
        <style>
            .paypal-button-wrapper input[type="image"] {
                max-width: 500px !important;
                height: auto !important;
            }
            </style>
    </div>
</div>

<!-- PayPal Button -->
<!--     TODO      -->
{% endblock %}