.navbar-custom {
    background-color: #67a084 !important;
    width: 100%;
}

.navbar-custom .navbar-nav .nav-link {
    color: white !important; /* Hace que el texto sea blanco */
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
}
